.hero_item {
   display: flex;
   align-items: center;
   gap: 1.25rem;
   border: 1px solid red;
}

.hero_item_icon {
    background-color: var(--purple);
    padding: 0.5rem;
    border-radius: 1000px;
}

.hero_item_text {
    color: var(--base-text);
}